<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stock Price Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='script.js')}}"></script>
        <style>
            body {
                background-image: url("stocks_background.jpg");
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0;
            }
            .input {
                align-items: center;
                text-align: center;
            }

            input {
                width: 500px
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>StockHub</h1>
        </div>
        <div class="input">
            <form id="add-ticker-form" method="POST">
                <input type="text" id="new-ticker" placeholder="Add Ticker" required>
                <button type="submit">Add</button>
            </form>
        </div>
        <p id="timer">Next update in <span id="counter"></span> seconds.</p>
        <div id="tickers-grid" class='ticker-boxes'></div>
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
        <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
    </body>
</html>