.header {
    text-align: center;
    padding: 100px 0 0 0;
    font-family: "Copperplate", fantasy, sans-serif;
}

.input {
    display: flex;
    justify-content: center;
}

.value {
    width: 500px;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
}

.button {
    width: 50px;
}

.ticker-grid {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.ticker-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    background-color: #f7f7f7;
    transition: all 0.3s;
    position: relative;
}

.ticker-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
}

.ticker-box:hover .additional-content {
    display: block;
}

.additional-content {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.expand-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #317031;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.container {
    display: flex;
}

.date-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
}

.start-date,
.end-date {
    margin-right: 10px;
}